.Header-container {
  height: 800px;
  width: 100%;

  position: relative;
  background-image: url(../../../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Header-container::after {
  height: 700px;
  content: " ";
  position: absolute;
  top: 0;
  width: 30%;
  z-index: -20;

  right: 0;
  background-color: #3a4256;
}
@media (max-width: 1400px) {
  .Header-container::after {
    height: 600px;

    width: 35%;
  }
}
@media (max-width: 1200px) {
  .Header-container::after {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .Header-container::after {
    background-color: white;
  }
  .Header-container {
    height: 1200px !important ;
  }
}
@media (max-width: 767px) {
  .Header-container::after {
    background-color: white;
  }
  .Header-container {
    height: 1400px !important ;
  }
}
